@font-face {
  font-family: "Arial";
  src: url("../../../assets/fonts/arial.ttf");
}
@font-face {
  font-family: "Georgia";
  src: url("../../../assets/fonts/georgia.ttf");
}
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 870px) {
  .container {
    padding: 0 30px;
  }
}
header {
  position: fixed;
  width: 100%;
  background: #FFFFFF;
}

.main {
  width: 100%;
}

.footer {
  width: 100%;
}

.btn-fill {
  padding: 15px 45px;
  background: #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 1.1px;
  color: #292929;
  cursor: pointer;
}

.btn-fill:hover {
  background: #FDDCC4;
  transition: 0.3s;
}

.button-transparent {
  padding: 13px 43px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 1.1px;
  color: #292929;
  background: #FAFAFA;
  cursor: pointer;
}

.button-transparent:hover {
  border: 2px solid #FDDCC4;
  background: #FDDCC4;
  transition: 0.3s;
}

.left-arrow-btn,
.right-arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  cursor: pointer;
}

.disabled {
  border: 2px solid #CDCDCD;
}

.page-number-btn {
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 52px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #292929;
  background: #F1CDB3;
  border-radius: 100px;
  cursor: pointer;
}

.header-container-pets {
  display: flex;
  flex-wrap: wrap;
}

.header-logo-pets {
  margin: 30px 15px 30px 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.logo-title-pets {
  width: 190px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 2px;
  color: #545454;
}

.logo-subtitle-pets {
  width: 185px;
  font-family: "Arial";
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: right;
  letter-spacing: 1.3px;
  color: #292929;
}

.header-navbar-pets {
  margin-left: auto;
  margin-top: 46px;
}

.navbar-list-pets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 36px;
}

.navbar-item-pets > a {
  font-family: "Arial";
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
}

.navbar-item-pets > a:hover {
  color: #292929;
  transition: 0.3s;
}

.navbar-item-active-pets > a {
  padding-bottom: 2px;
  font-family: "Arial";
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
}

.main-container-pets {
  background: #F6F6F6;
}

.section-pets-pets {
  margin-top: 120px;
  padding: 80px 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 870px) {
  .section-pets-pets {
    padding-bottom: 76px;
  }
}
.section-pets-title {
  margin-bottom: 60px;
  max-width: 420px;
  text-align: center;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 2.1px;
  color: #545454;
}

@media (max-width: 870px) {
  .section-pets-title {
    margin-bottom: 30px;
  }
}
.section-pets-cards-list {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 30px;
}

@media (max-width: 870px) {
  .section-pets-cards-list {
    margin-bottom: 40px;
  }
}
.section-pets-slider-card {
  text-align: center;
  background: #FAFAFA;
  border-radius: 9px;
  transition: 0.3s;
}

.section-pets-slider-card img {
  border-radius: 9px;
}

.section-pets-slider-card:hover {
  background: #FFFFFF;
}

.section-pets-slider-card > * {
  margin-bottom: 30px;
}

@media (max-width: 870px) {
  .section-pets-slider-card:nth-child(7),
.section-pets-slider-card:nth-child(8) {
    display: none;
  }
}
.slider-card-name {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1px;
  color: #545454;
}

.section-pets-pagination {
  display: flex;
  gap: 20px;
}

.footer-container {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

@media (max-width: 850px) {
  .footer-container {
    padding-top: 0;
  }
}
.footer-contacts {
  padding-top: 16px;
  display: flex;
  gap: 160px;
}

@media (max-width: 1200px) {
  .footer-contacts {
    flex: 100%;
    justify-content: center;
  }
}
@media (max-width: 950px) {
  .footer-contacts {
    gap: 60px;
  }
}
@media (max-width: 850px) {
  .footer-contacts {
    padding-top: 30px;
  }
}
.footer-contacts > div {
  display: flex;
  flex-direction: column;
}

.footer-contacts-left {
  row-gap: 42px;
}

.footer-contacts-right {
  row-gap: 32px;
}

.footer-title {
  width: 280px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: #FFFFFF;
}

.footer-title:nth-child(1) {
  letter-spacing: 2px;
}

.contacts {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.contacts a {
  display: inline-block;
  max-width: 260px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 1.2px;
  color: #F1CDB3;
}

.contacts a:hover {
  text-decoration: underline;
  transition: 0.3s;
}

.contacts:last-child {
  padding-bottom: 60px;
}

@media (max-width: 1200px) {
  .contacts:last-child {
    padding-bottom: 65px;
  }
}
.footer-img {
  margin-left: auto;
  height: 310px;
  width: 300px;
  background: url("../../assets/images/footer-puppy.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1200px) {
  .footer-img {
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
