@font-face {
  font-family: "Arial";
  src: url("../../../assets/fonts/arial.ttf");
}
@font-face {
  font-family: "Georgia";
  src: url("../../../assets/fonts/georgia.ttf");
}
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

header {
  position: absolute;
  width: 100%;
}

.main {
  width: 100%;
}

.footer {
  width: 100%;
}

.btn-fill {
  padding: 15px 45px;
  background: #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 1.1px;
  color: #292929;
  cursor: pointer;
}

.btn-fill:hover {
  background: #FDDCC4;
  transition: 0.3s;
}

.button-transparent {
  padding: 13px 43px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 1.1px;
  color: #292929;
  background: #FAFAFA;
  cursor: pointer;
}

.button-transparent:hover {
  border: 2px solid #FDDCC4;
  background: #FDDCC4;
  transition: 0.3s;
}

.button-slider {
  margin-top: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: #F6F6F6;
  cursor: pointer;
}

.button-slider:hover {
  border: 2px solid #FDDCC4;
  background: #FDDCC4;
  transition: 0.3s;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
}

.header-logo {
  margin: 60px 15px 0 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.logo-title {
  width: 190px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: #F1CDB3;
  letter-spacing: 2px;
}

.logo-subtitle {
  width: 180px;
  font-family: "Arial";
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: right;
  letter-spacing: 1.2px;
  color: #FFFFFF;
}

.header-navbar {
  margin-left: auto;
  margin-top: 76px;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 36px;
}

.navbar-item > a {
  font-family: "Arial";
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}

.navbar-item > a:hover {
  color: #FAFAFA;
  transition: 0.3s;
}

.navbar-item-active > a {
  padding-bottom: 2px;
  font-family: "Arial";
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}

.hero-container {
  padding-top: 180px;
  min-height: 908px;
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.section-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 42px;
}

.section-hero-info > *:not(:last-child) {
  margin-bottom: 42px;
}

.section-hero-title {
  max-width: 310px;
  padding-top: 163px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}

.section-hero-desc {
  max-width: 460px;
  font-family: "Arial";
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}

.section-hero-img {
  height: 728px;
  width: 698px;
  background: url("../../assets/images/start-screen-puppy.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.section-about {
  padding: 80px 0 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 120px;
}

.section-about-img {
  height: 408px;
  width: 300px;
  background: url("../../assets/images/about-pets.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.section-about-info > *:not(:last-child) {
  margin-bottom: 25px;
}

.section-about-title {
  padding-top: 14px;
  max-width: 370px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 2.1px;
  color: #545454;
}

.section-about-desc {
  max-width: 430px;
  font-family: "Arial";
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

.pets-container {
  background: #F6F6F6;
}

.section-pets {
  padding: 80px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 60px;
}

.section-pets-title {
  max-width: 420px;
  text-align: center;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 2.1px;
  color: #545454;
}

.section-pets-slider {
  display: flex;
  justify-content: center;
  column-gap: 53px;
}

.section-pets-slider-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 90px;
  row-gap: 60px;
}

.section-pets-slider-card {
  text-align: center;
  background: #FAFAFA;
  border-radius: 9px;
  transition: 0.3s;
}

.section-pets-slider-card img {
  border-radius: 9px;
}

.section-pets-slider-card:hover {
  background: #FFFFFF;
}

.section-pets-slider-card > * {
  margin-bottom: 30px;
}

.slider-card-name {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1.1px;
  color: #545454;
}

.section-help {
  padding: 80px 0 100px 0;
}

.section-help-title {
  margin: 0 auto 60px;
  text-align: center;
  max-width: 310px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 2.1px;
  color: #545454;
}

.section-help-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 122px;
  row-gap: 52px;
}

.help-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.help-item-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
}

.help-item-name {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 1px;
  color: #545454;
}

.donation-container {
  background: #F6F6F6;
}

.section-donation {
  padding: 80px 0 80px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 60px;
}

.section-donation-img {
  margin-top: 10px;
  height: 261px;
  width: 505px;
  background: url("../../assets/images/donation-dog.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.section-donation-info > * {
  margin-bottom: 20px;
}

.section-donation-title {
  max-width: 300px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 2px;
  color: #545454;
}

.section-donation-subtitle {
  display: inline-block;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.9px;
  color: #545454;
}

.section-donation-payment {
  display: flex;
  align-items: center;
  column-gap: 15px;
  padding: 10px 15px;
  max-width: 349px;
  background: #F1CDB3;
  border-radius: 9px;
}

.credit-card-data-form input {
  width: 274px;
  outline: none;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 1.2px;
  color: #545454;
  background: #F1CDB3;
}

.section-donation-desc {
  max-width: 380px;
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

.footer-container {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

.footer-contacts {
  padding-top: 16px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  gap: 160px;
}

.footer-contacts > div {
  display: flex;
  flex-direction: column;
}

.footer-contacts-left {
  row-gap: 42px;
}

.footer-contacts-right {
  row-gap: 32px;
  flex-grow: 1;
}

.footer-title {
  max-width: 280px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: #FFFFFF;
}

.footer-title:nth-child(1) {
  letter-spacing: 2px;
}

.contacts {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.contacts span {
  display: inline-block;
  max-width: 280px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 1.2px;
  color: #F1CDB3;
}

.contacts:last-child {
  padding-bottom: 60px;
}

.footer-img {
  height: 310px;
  width: 300px;
  background: url("../../assets/images/footer-puppy.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/*# sourceMappingURL=style.css.map */
