.footer-container {
    padding-top: 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

.footer-container span {
    max-width: 260px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.5px;
    color: #F1CDB3;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 43px;
}

.footer-title {
    max-width: 280px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.contacts {
    max-width: 280px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.contacts:last-child {
    padding-bottom: 60px;
}

.footer-img {
    height: 310px;
    width: 300px;
    background: url('../../assets/images/footer-puppy.png');
    background-repeat: no-repeat;
    background-size: contain;
}