.header-container {
    display: flex;
    flex-wrap: wrap;
}

.header-logo {
    margin: 60px 15px 0 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

@media(max-width:850px) {
    .header-logo {
        margin: 30px 15px 0 0;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}

.logo-title {
    width: 190px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
    letter-spacing: 2px;
}

.logo-subtitle {
    width: 185px;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 1.3px;
    color: #FFFFFF;
}

.header-navbar {
    margin-left: auto;
    margin-top: 76px;
}

@media(max-width:850px) {
    .header-navbar {
        margin-left: auto;
        margin-top: 46px;
    }
}

@media(max-width:710px) {
    .header-navbar {
        display: none;
    }
}

.navbar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 36px;
}

.navbar-item>a {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

.navbar-item>a:hover {
    color: #FAFAFA;
    transition: 0.3s;
}

.navbar-item-active>a {
    padding-bottom: 2px;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}