.pets-container {
    background: #F6F6F6;
}

.section-pets {
    padding: 80px 0 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 60px;
}

@media(max-width: 480px) {
    .section-pets {
        padding: 42px 0;
        row-gap: 42px;
    }
}

.section-pets-title {
    max-width: 420px;
    text-align: center;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 2.1px;
    color: #545454;
}


@media(max-width: 480px) {
    .section-pets-title {
        font-size: 25px;
        letter-spacing: 1.5px;
    }
}

.section-pets-slider {
    display: flex;
    justify-content: center;
    column-gap: 53px;
}

@media(max-width: 850px) {
    .section-pets-slider {
        column-gap: 12px;
    }
}

@media(max-width: 630px) {
    .section-pets-slider {
        flex-direction: column;
    }

    .section-pets-slider .button-slider {
        display: none;
    }
}

.section-pets-slider-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 90px;
    row-gap: 60px;
}

@media(max-width: 950px) {
    .section-pets-slider-cards {
        column-gap: 40px;
    }
}

.section-pets-slider-card {
    text-align: center;
    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;
    animation: fadeIn 0.1s ease-out;
}

.section-pets-slider-card:hover .btn-transparent-hover {
    border: 2px solid #FDDCC4;
    background: #FDDCC4;
    transition: 0.3s;
}

@media(max-width: 1240px) {
    .section-pets-slider-cards {
        flex-wrap: wrap;
    }

    .section-pets-slider-card:nth-child(3) {
        display: none;
    }
}

@media(max-width: 767px) {
    .section-pets-slider-card:nth-child(2) {
        display: none;
    }
}

.section-pets-slider-card img {
    border-radius: 9px;
}

.section-pets-slider-card:hover {
    background: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.section-pets-slider-card img,
.section-pets-slider-card div {
    padding-bottom: 30px;
}

.slider-card-name {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
    color: #545454;
}

.mobile-buttons-slider {
    display: none;
}

@media(max-width: 630px) {
    .mobile-buttons-slider {
        display: flex;
        justify-content: center;
        gap: 80px;
    }

    .mobile-buttons-slider .button-slider {
        display: flex;
        margin-top: 20px;
    }
}

.modal-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(41, 41, 41, 0.6);
    animation: fadeIn 0.1s ease-out;
}

@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
    }

    50% {
        display: block;
        opacity: 0.5;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.btn-close-hover {
    border: 2px solid #FDDCC4;
    background: #FDDCC4;
    transition: 0.3s;
}

.modal {
    display: flex;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    min-height: 500px;
    border-radius: 9px;
    background: #FAFAFA;
}

@media(max-width: 1020px) {
    .modal {
        width: 630px;
        min-height: 350px;
    }
}

@media(max-width: 767px) {
    .modal {
        justify-content: center;
        width: 240px;
        min-height: 340px;
    }
}

.modal-img {
    flex-basis: 500px;
    height: 500px;
    width: 500px;
    background: url('../../assets/images/pets-jennifer.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 9px 0px 0px 9px;
}

@media(max-width: 1020px) {
    .modal-img {
        flex-basis: 350px;
        height: 350px;
        width: 350px;
    }
}

@media(max-width: 767px) {
    .modal-img {
        display: none;
    }
}

.modal-info {
    flex-basis: 400px;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

@media(max-width: 1020px) {
    .modal-info {
        flex-basis: 280px;
        margin-top: 10px;
        padding-left: 11px;
        padding-right: 9px;
        row-gap: 20px;
    }
}

@media(max-width: 767px) {
    .modal-info-name {
        text-align: center;
    }
}

.modal-info-title {
    margin-bottom: 10px;
    font-family: 'Georgia';
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 2.4px;
}

.modal-info-subtitle {
    font-family: 'Georgia';
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 1.2px;
}

.modal-info-desc {
    font-family: 'Georgia';
    font-size: 15px;
    letter-spacing: 0.9px;
}

@media(max-width: 1020px) {
    .modal-info-desc {
        font-size: 13px;
        line-height: 110%;
        letter-spacing: 0.75px;
    }
}

@media(max-width: 767px) {
    .modal-info-desc {
        text-align: justify;
    }
}

@media(max-width: 767px) {
    .modal-info-name {
        text-align: center;
    }
}

.modal-info-additional {
    font-family: 'Georgia';
    font-size: 15px;
    letter-spacing: 0.9px;
}

.modal-info-additional>li {
    margin-bottom: 11px;
}

@media(max-width: 1020px) {
    .modal-info-additional>li {
        margin-bottom: 6px;
    }
}

.modal-info-additional>li::before {
    content: '\2022';
    list-style: circle;
    margin-right: 8px;
    width: 4px;
    height: 4px;
    color: #F1CDB3;
}