.section-about {
    padding: 80px 0 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 120px;
}

@media(max-width: 930px) {
    .section-about {
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 80px;
    }
}

@media(max-width: 480px) {
    .section-about {
        padding: 42px 0;
        row-gap: 42px;
    }
}

.section-about-img {
    height: 408px;
    width: 300px;
    background: url('../../assets/images/about-pets.png');
    background-repeat: no-repeat;
    background-size: contain;
}

@media(max-width: 480px) {
    .section-about-img {
        height: 354px;
        width: 260px;
    }
}

.section-about-info>*:not(:last-child) {
    margin-bottom: 25px;
}

@media(max-width: 480px) {
    .section-about-info>*:not(:last-child) {
        margin-bottom: 22px;
    }
}

@media(max-width: 480px) {
    .section-about-info {
        padding: 0 15px;
    }
}

.section-about-title {
    padding-top: 14px;
    max-width: 370px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 2.1px;
    color: #545454;
}

@media(max-width: 850px) {
    .section-about-title {
        padding-top: 0;
    }
}

@media(max-width: 480px) {
    .section-about-title {
        font-size: 25px;
        text-align: center;
        letter-spacing: 1.5px;
    }
}

.section-about-desc {
    max-width: 430px;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

@media(max-width: 480px) {
    .section-about-desc {
        text-align: justify;
    }
}