.section-about {
    padding: 80px 0 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 120px;
}

.section-about-img {
    height: 408px;
    width: 300px;
    background: url('../../assets/images/about-pets.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.section-about-info>*:not(:last-child) {
    margin-bottom: 25px;
}

.section-about-title {
    padding-top: 14px;
    max-width: 370px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 2.1px;
    color: #545454;
}

.section-about-desc {
    max-width: 430px;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}