.hero-container {
    display: flex;
    padding-top: 180px;
    height: 908px;
    margin-bottom: 80px;
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.section-hero {
    height: 728px;
    width: 100%;
    background: url('../../assets/images/start-screen-puppy.png');
    background-repeat: no-repeat;
    background-position: right;
}

.section-hero-title {
    max-width: 310px;
    padding-top: 163px;
    margin-bottom: 42px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
}

.section-hero-desc {
    max-width: 460px;
    margin-bottom: 42px;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

.btn-fill-sm {
    width: 207px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 1.1px;
    color: #292929;
}