.pets-container {
    background: #F6F6F6;
}

.section-pets {
    padding: 80px 0 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 60px;
}

@media(max-width: 480px) {
    .section-pets {
        padding: 42px 0;
        row-gap: 42px;
    }
}

.section-pets-title {
    max-width: 420px;
    text-align: center;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 2.1px;
    color: #545454;
}


@media(max-width: 480px) {
    .section-pets-title {
        font-size: 25px;
        letter-spacing: 1.5px;
    }
}

.section-pets-slider {
    display: flex;
    justify-content: center;
    column-gap: 53px;
}

@media(max-width: 850px) {
    .section-pets-slider {
        column-gap: 12px;
    }
}

@media(max-width: 630px) {
    .section-pets-slider {
        flex-direction: column;
    }

    .section-pets-slider .button-slider {
        display: none;
    }
}

.section-pets-slider-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 90px;
    row-gap: 60px;
}

@media(max-width: 950px) {
    .section-pets-slider-cards {
        column-gap: 40px;
    }
}

.section-pets-slider-card {
    text-align: center;
    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;
}

.section-pets-slider-card:hover .btn-transparent-hover {
    border: 2px solid #FDDCC4;
    background: #FDDCC4;
    transition: 0.3s;
}

@media(max-width: 1240px) {
    .section-pets-slider-cards {
        flex-wrap: wrap;
    }

    .section-pets-slider-card:nth-child(3) {
        display: none;
    }
}

@media(max-width: 630px) {
    .section-pets-slider-card:nth-child(2) {
        display: none;
    }
}

.section-pets-slider-card img {
    border-radius: 9px;
}

.section-pets-slider-card:hover {
    background: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.section-pets-slider-card img,
.section-pets-slider-card div {
    padding-bottom: 30px;
}

.slider-card-name {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
    color: #545454;
}

.mobile-buttons-slider {
    display: none;
}

@media(max-width: 630px) {
    .mobile-buttons-slider {
        display: flex;
        justify-content: center;
        gap: 80px;
    }

    .mobile-buttons-slider .button-slider {
        display: flex;
        margin-top: 20px;
    }
}